.container{
    position: relative;
    top: 0%;
    left: 50%;
    width: 1440px;
    height: 1608px;
    transform: translate(-50%, 0%);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}
*,*:before,*:after{
    box-sizing: border-box;
}
.header{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 88px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}
.logo{
    position: absolute;
    top: 24px;
    left: 62px;
    width: 119px;
    height: 40px;
    background: transparent url('img/logo.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.menu{
    position: absolute;
    top: 32px;
    left: 786px;
    width: 368px;
    height: 24px;
    opacity: 1;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.menu .item{
    text-align: center;
}
.menu .item a{
    display: block;
    color: #3A3A3A;
    text-decoration:none;
}
.menu .item a:hover{
    color: #F9C745;
}
.menu .item .select{
    color: #F9C745;
}
.menu_button{
    position: absolute;
    top: -6px;
    left: 418px;
    width: 176px;
    height: 38px;
    background: #F9C745 0% 0% no-repeat padding-box;
    border-radius: 23px;
    text-align: center;
    padding-top: 8px;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.menu_button a{
    display: block;
    color: #3A3A3A;
    text-decoration:none;
}
.menu_button:hover{
    position: absolute;
    top: -6px;
    left: 418px;
    width: 176px;
    height: 38px;
    background: #F9C745 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 0px #3A3A3A;
    border-radius: 23px;
    opacity: 1;
}
.head01{
    position: absolute;
    top: 88px;
    left: 0px;
    width: 1440px;
    height: 1314px;
    background: transparent url('img/lightpaperfibers.png') 0% 0% padding-box;
    opacity: 1;
}
.head01 .img1{
    position:absolute;
    top: 40px;
    left: 595px;
    width: 250px;
    height: 134px;
    background: transparent url('img/title02.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.center01{
    position: absolute;
    top: 306px;
    left: 60px;
    width: 872px;
    height: 928px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 8px #0000001A;
    border-radius: 12px;
    opacity: 1;
}
.center01text01{
    position: absolute;
    top: 340px;
    left: 93px;
    width: 144px;
    height: 34px;
    text-align: center;
    font: normal normal bold 24px/33px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.center01text02{
    position: absolute;
    top: 399px;
    left: 92px;
    width: 96px;
    height: 86px;
    text-align: left;
    font: normal normal normal 16px/32px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.center01text03{
    position: absolute;
    top: 399px;
    left: 396px;
    width: 144px;
    height: 86px;
    text-align: left;
    font: normal normal normal 16px/32px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.center01text04{
    position: absolute;
    top: 535px;
    left: 92px;
    width: 808px;
    height: 86px;
    text-align: left;
    font: normal normal normal 16px/32px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.center01img01{
    position: absolute;
    top: 663px;
    left: 92px;
    width: 808px;
    height: 539px;
    background: transparent url('img/dog03.png') 0% 0% no-repeat padding-box;
    border-radius: 12px;
    opacity: 1;
}
.center02{
    position: absolute;
    top: 302px;
    left: 956px;
    width: 424px;
    height: 747px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 8px #00000014;
    border-radius: 24px;
    opacity: 1;
}
.center02img01{
    position: absolute;
    top: 302px;
    left: 956px;
    width: 424px;
    height: 424px;
    background: transparent url('img/08.png') 0% 0% no-repeat padding-box;
    border-radius: 24px 24px 0px 0px;
    opacity: 1;
}
.center02text01{
    position: absolute;
    top: 752px;
    left: 980px;
    width: 48px;
    height: 22px;
    text-align: left;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.center02text02{
    position: absolute;
    top: 780px;
    left: 980px;
    width: 128px;
    height: 22px;
    text-align: left;
    font: normal normal bold 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.center02text03{
    position: absolute;
    top: 820px;
    left: 980px;
    width: 32px;
    height: 22px;
    text-align: left;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.center02text04{
    position: absolute;
    top: 848px;
    left: 980px;
    width: 78px;
    height: 22px;
    text-align: left;
    font: normal normal bold 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.center02text05{
    position: absolute;
    top: 888px;
    left: 980px;
    width: 32px;
    height: 22px;
    text-align: left;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.center02text06{
    position: absolute;
    top: 916px;
    left: 980px;
    width: 203px;
    height: 22px;
    text-align: left;
    font: normal normal bold 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.center02button{
    position: absolute;
    top: 966px;
    left: 980px;
    width: 376px;
    height: 51px;
    background: #F9C745 0% 0% no-repeat padding-box;
    border-radius: 24px;
    opacity: 1;
}
.center02text07{
    position: absolute;
    top: 11px;
    left: 116px;
    width: 144px;
    height: 33px;
    text-align: center;
    font: normal normal normal 24px/33px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}

.footer{
    position: absolute;
    top: 1314px;
    left: 0px;
    width: 1440px;
    height: 223px;
    border-top: 3px solid #F9C745;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}
.footer .img1{
    position: absolute;
    top: 48px;
    left: 232px;
    width: 200px;
    height: 127px;
    background: transparent url('img/link01.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.footer .text1{
    position: absolute;
    top: 55px;
    left: 456px;
    width: 144px;
    height: 33px;
    text-align: left;
    font: normal normal normal 24px/33px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.footer .text2{
    position: absolute;
    top: 93px;
    left: 456px;
    width: 240px;
    height: 22px;
    text-align: left;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.footer .button1{
    position: absolute;
    padding-top: 8px;
    top: 129px;
    left: 456px;
    width: 176px;
    height: 44px;
    border: 1px solid #3A3A3A;
    border-radius: 23px;
    text-align: center;
    font: normal normal normal 20px/27px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    padding: auto;
    opacity: 1;
}
.footer .img2{
    position: absolute;
    top: 59px;
    left: 744px;
    width: 200px;
    height: 105px;
    background: transparent url('img/link02.png') 0% 0% no-repeat padding-box;
    border-radius: 53px;
    opacity: 1;
}
.footer .text3{
    position: absolute;
    top: 55px;
    left: 968px;
    width: 144px;
    height: 33px;
    text-align: left;
    font: normal normal normal 24px/33px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.footer .text4{
    position: absolute;
    top: 93px;
    left: 968px;
    width: 240px;
    height: 22px;
    text-align: left;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    opacity: 1;
}
.footer .button2{
    position: absolute;
    top: 129px;
    left: 968px;
    width: 176px;
    height: 44px;
    padding-top: 8px;
    border: 1px solid #3A3A3A;
    border-radius: 23px;
    text-align: center;
    font: normal normal normal 20px/27px Noto Sans;
    letter-spacing: 0px;
    color: #3A3A3A;
    padding: auto;
    opacity: 1;
}
.footer .button1 a,.footer .button2 a{
    display: block;
    color: #3A3A3A;
    text-decoration:none;
}
.footer .button1:hover ,.footer .button2:hover{
    background: #F9C745;
    border: 0px solid #3A3A3A;
}
.footer .copyright{
    position: absolute;
    top: 225px;
    left: -2px;
    width: 1444px;
    height: 70px;
    background: #3A3A3A 0% 0% no-repeat padding-box;
    opacity: 1;
}
.footer .copyright .text{
    position: absolute;
    top: 24px;
    left: 556px;
    width: 328px;
    height: 22px;
    text-align: center;
    font: normal normal normal 16px/22px Noto Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}